.employer {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.company-postings {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.posting {
    border: 1px solid black;
    padding: 20px;
    width: 40%;
}

.posting h2 {
    margin: 0;
    margin-bottom: 10px;
}

.posting p {
    margin: 0;
    margin-bottom: 20px;
}

button {
    margin-right: 10px;
}

