.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .section {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 30px;
  }
  
  .section h3 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }
  
  .field {
    margin-bottom: 20px;
  }
  
  .field label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: 500;
    font-size: 16px;
  }
  
  .field input,
  .field textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 6px;
    font-size: 16px;
  }
  
  .field textarea {
    resize: vertical;
    min-height: 120px;
  }
  
  .button {
    width: 100%;
    padding: 14px;
    background-color: #007bff;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    font-weight: 600;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .picture {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .picture img {
    max-width: 100%;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .picture button,
  .picture input {
    margin-top: 15px;
  }
  
  .experience,
  .education {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .experience h4,
  .education h4 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
  }
  
  .experience p,
  .education p {
    margin-bottom: 10px;
  }
  
  .experience ul,
  .education ul {
    padding-left: 20px;
    margin-bottom: 0;
  }
  
  .experience li,
  .education li {
    margin-bottom: 5px;
  }

  .search-bar {
    margin-bottom: 20px;
  }
  
  .search-bar input {
    padding: 20px;
    width: 500px;
  }
  
  .search-bar button {
    padding: 5px 10px;
    margin-left: 10px;
  }